{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block body_block %}
    
    <div class="jumbotron">
        <h1 class="display-3">Rango says...</h1>
        {% if user.is_authenticated %}
            howdy {{user.username}}. 
        {% else %}
            hey there partner! <br />
        {% endif %}
    </div>
    <div class="row marketing">
        <div class="col-lg-6">
            <h2>Most liked categories</h2>
            {% if categories %}
            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item">
                        <a href="{% url 'show_category' category.slug %}">
                            {{category.name}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <h2>Most viewed pages</h2>
            {% if pages %}
 
            <ul class="list-group">
                {% for page in pages %}
                    <li class="list-group-item">
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>There are no pages present.</strong>
            {% endif %}
        </div>
    </div>
    <div>
        <img src="{% static "images/doom.png" %}" width="600px" alt="Picture of doom guy" />
    </div>
{% endblock %}